#mainContainer{
 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 252);
}
 
 
 
 
.outerContainer {
    width:95%;
   
    overflow: hidden;
    border: 0.5px solid #cdcdcd;
}
 
.innerContainer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
 
}
 
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.name {
    width: 100%;
    padding: 10px 30px;
}
.serviceTitle{
    text-align: center !important;
    color:#1c3681;
    font-size: clamp(24px, 1.5vw, 48px);
}
.serviceTitle {
    font-weight: bold;
}
 
.btnContainer {
    display: flex;
        gap: 10px;
        padding: 10px;
}
 
.btnContainer .btnClass {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #6a1ead;
}
 
.imgContainer {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
 
.slide {
    display: grid;
    grid-template-columns:auto auto auto;
    gap: 20px;
    /* flex: 0 0 calc(100% / 5); */
    min-width: 100%;
   
    /* border: 2px solid red; */
}
 
.eachImg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 60%;
    position: relative;
    cursor: pointer;
   
 
}
 
.eachImg:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
 
.images {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
 
.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-position: 30px 40px;
}
 
.serv {
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
}
 
 
.serv .btnClass {
    background-color: transparent;
    border: 1px solid #ffb75e;
    border-radius: 5px;
    color: #ffb75e !important;
    margin-top: 10px;
    padding: 5px;
}
 
.serv .btnClass:hover {
    background: linear-gradient(#ffb75e, #ed8f03);
    background-color:#ffb75e;
    border: none;
    color: #fff;
    font-weight:400;
}
 
.images:hover img {
    filter: blur(6px);
    transform: scale(0.9);
    opacity: 0.5;
}
 
.images:hover .serv {
    display: block;
    animation: service 1s ease;
    animation-fill-mode: forwards;
}
.serviceName,.btnClass{
     color: #302a1f !important;
     font-weight: '700' !important;
   
}
 
@keyframes service {
    0% {
        opacity: 0;
        transform: translate(-40px, 60px);
    }
 
    100% {
        opacity: 1;
        transform: translate(-40px, 20px);
    }
}
 
.spanText {
    width: 80%;
    margin: auto;
    text-align: center;
    
}
.spanText,.serviceName,button{
    font-size: clamp(14px, 1vw, 16px);
}


@media screen and (max-width:767px) {
    #mainContainer{
        width: 95%;
        margin:  20px auto;
    }


    .slide{
        display: flex;
        flex-direction: column;
    }
    .eachImg{
        width: 80%;
        height: auto;
        margin: auto;

    }
    .images{
        width: 100%;
        border-radius: 50%;
        margin: auto;
        object-fit: cover;
    }
    .serv{
        top: 10%;
    }
    
 


}
 
@media screen and (min-width:2559px)  {
    .serviceTitle{
        font-size:clamp(20px, 1.5vw, 48px);
    }
    .spanText,.serviceName,button{
        font-size: clamp(22px,1vw,24px);
    }
}