.divContainer {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: rgb(237, 241, 245);
    width: auto;
    height: 610px;
}

.leftContainer {
    flex: 1;
    box-sizing: border-box;
    /* background-color:rgb(205, 209, 214); */
    justify-content: flex-start;
    padding-left: 8px;
    padding-right: 0px;
    width: auto;

}

.mainLeftContainer {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    /* background-color: rgb(205, 209, 214); */
    width: auto;
    height: 510px;
}

.leftServicesCon {
    flex: 1;
    box-sizing: border-box;
    /* background-color: rgb(205, 209, 214); */
    justify-content: flex-start;
    padding-right: 2px;
    /* padding-left: 8px; */
    width: auto;
}

.dataCon {
    /* background-color: rgb(205, 209, 214); */
    /* padding-left: 8px; */
    padding-right: 2px;

    padding-bottom: 100px;
    justify-content: space-evenly;

    width: auto;
}

.toolsCon {
    flex: 1;
    box-sizing: border-box;
    /* background-color: rgb(205, 209, 214); */
    /* padding-left: 8px; */
    padding-right: 2px;
    width: auto;
}

.blogsCon {
    flex: 1;
    /* background-color: rgb(205, 209, 214); */
    /* padding-left: 8px;
    padding-right: 8px; */
    margin-right: auto;
    margin-left: auto;

    width: auto;

}

.blogBox {
    padding: 30px;
    max-width: 300px;
    /* margin: 20px auto; */
    padding-right: 0px;
    background-color: #fff;
    /* margin-top: -15px; */
    border-radius: 8px;
}

.rightContainer {
    flex: 1;
    box-sizing: border-box;
    /* background-color: rgb(205, 209, 214); */
    padding-right: 200px;
    width: auto;

}


.servicesContainer {
    padding: 30px;
    max-width: 300px;
    margin: 20px auto;
    margin-bottom: 3px;
    padding-right: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.servicesTitle {
    font-size: 18px;
    color: #1e73be;
    border-bottom: 2px solid #1e73be;
    padding-bottom: 10px;
    margin-bottom: 15px;

}

.servicesList {
    list-style-type: none;
    padding: 0;
    margin-right: 500px;
    align-items: flex-start;
    position: relative;
}

.servicesList li {
    font-size: 15px;
        color: #333;
        margin-bottom: 10px;
        white-space: normal;
        padding-left: 30px;
        white-space: nowrap;
        position: relative;
        transition: transform 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}

.servicesList li:hover {
     color: #1e73be;
    font-weight: bold;
    cursor: pointer;
    transform: translateX(10px);
}

.servicesList li:hover::before {
    content: '\2771';
    position: absolute;
    left: 0;
    color: #0e13b8;
    font-size: 16px;
    transition: all 0.3s ease;
}



.mainRightContainer {

    display: flex;
    justify-content: space-between;
    color: #ffffff;
    width: auto;
    height: 510px;
    padding-right: 2px;

}

.rightMapCon {
    flex: 1;
    box-sizing: border-box;
    /* background-color: rgb(205, 209, 214); */
    justify-content: flex-start;
    padding-right: 8px;
    /* padding-left: 8px; */
    width: auto;
}

.addressContainer {
    padding: 30px;
    max-width: 300px;
    height: 200px;
    margin: 20px auto;
    padding-right: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addressTitle {
    font-size: 18px;
    color: #1e73be;
    border-bottom: 2px solid #1e73be;
    padding-bottom: 10px;
    margin-bottom: 15px;

}

.addressList {
    list-style-type: none;
    padding: 0;
    margin-right: 500px;
    align-items: flex-start;
    transition: transform 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}

.addressList li {
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-left: 0;
    white-space: nowrap;
}

.addressList li:hover {
    color: #1e73be;
    cursor: pointer;
    font-weight: bold;
    transform: translateX(10px);
}

.mapCon {
    flex: 1;
    box-sizing: border-box;
    /* background-color: rgb(205, 209, 214); */
    width: auto;
    padding-right: 100px;
}

.mapContainer {
    padding: 30px;
    max-width: 300px;
    margin: 20px auto;
    padding-right: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mapTitle {
    font-size: 18px;
    color: #1e73be;
    border-bottom: 2px solid #1e73be;
    padding-bottom: 10px;
    margin-bottom: 15px;

}