body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(237, 241, 245);
}

.divContainer {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: rgb(237, 241, 245);
    width: auto;
    height: 610px;
}



.rightContainer {
    flex: 1 1 100%;
    box-sizing: border-box;
    background-color: rgb(23, 168, 110);
    padding: 10px;
    width: 100%;
}




.mainRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.mapCon {
    width: 100%;
}


@media screen and (min-width: 768px) {
    .divContainer {
        flex-direction: row;
    }

    .leftContainer,
    .rightContainer {
        flex: 1 1 48%;
    }

    .servicesContainer,
    .addressContainer,
    .mapContainer {
        width: 70%;
    }

    .mainLeftContainer,
    .mainRightContainer {
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        background-color: rgb(212, 205, 214);
        width: auto;
        height: 510px;
    }
}



/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .divContainer {
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        background-color: rgb(237, 241, 245);
        width: auto;
        height: 610px;
    }

    .leftServicesCon {
        flex: 1;
        box-sizing: border-box;
        background-color: rgb(234, 19, 109);
        justify-content: flex-start;
        width: 200px;
        height: 380px;
        padding: 10px;

    }

    .servicesContainer {
        padding: 30px;
        width: 200px;
        height: 300px;
        margin-bottom: 3px;
        padding-right: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }



    .servicesTitle {
        font-size: 18px;
        color: #1e73be;
        border-bottom: 2px solid #1e73be;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    .servicesList {
        list-style-type: none;
        padding: 0;
        position: relative;
    }

    .servicesList li {
        font-size: 11px;
        color: #0b0707;
        margin-bottom: 10px;
        padding-left: 30px;
        /* position: relative; */
        transition: transform 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
    }

    .servicesList li:hover {
        color: #1e73be;
        font-weight: bold;
        cursor: pointer;
        transform: translateX(10px);
    }

    .servicesList li:hover::before {
        content: '\2771';
        position: absolute;
        left: 0;
        color: #0b0f94;
        font-size: 1px;
        transition: all 0.3s ease;
    }

    .toolsCon {
        flex: 1;
        box-sizing: border-box;
        margin-left: -150px;
        background-color: rgb(203, 31, 51);
        /* padding-left: 8px; */
        margin-right: -90px;
        width: auto;
    }

    .dataCon {

        /* flex: 1; */
        box-sizing: border-box;
        margin-left: -120px;
        background-color: rgb(34, 98, 176);
        justify-content: center;
        width: auto;


    }

    .dataContainer {
        padding: 30px;
        width: 200px;
        height: 200px;
        margin-bottom: 3px;
        padding-right: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .dataTitle {
        font-size: 18px;
        color: #1e73be;
        border-bottom: 2px solid #1e73be;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    .dataList {
        list-style-type: none;
        padding: 0;
        position: relative;
    }

    .dataList li {
        font-size: 11px;
        color: #0b0707;
        margin-bottom: 10px;
        padding-left: 30px;
        /* position: relative; */
        transition: transform 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
    }

    .dataList li:hover {
        color: #1e73be;
        font-weight: bold;
        cursor: pointer;
        transform: translateX(10px);
    }

    .dataList li:hover::before {
        content: '\2771';
        position: absolute;
        left: 0;
        color: #0b0f94;
        font-size: 1px;
        transition: all 0.3s ease;
    }

    .mainLeftContainer {
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        background-color: rgb(184, 213, 21);
        width: auto;
        height: 510px;
    }

    .addressContainer,
    .mapContainer {
        padding: 30px;
        max-width: 300px;
        margin-bottom: 3px;
        padding-right: 0px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .leftContainer {
        flex: 1 1 100%;
        box-sizing: border-box;
        background-color: rgb(1, 6, 11);
        padding: 10px;
        /* margin-right: 100px; */
        width: 100%;
    }

    .addressList li {
        font-size: 1px;
    }

}

@media screen and (max-width: 767px) {
    .divContainer {
        flex-direction: column;
        padding: 10px;
    }

    .leftContainer,
    .rightContainer {
        flex: 1 1 100%;
        width: 100%;
    }

    .servicesContainer,
    .addressContainer,
    .mapContainer {
        max-width: 100%;
        margin: 10px 0;
    }

    .servicesList li,
    .addressList li {
        font-size: 14px;
    }

    .servicesTitle,
    .addressTitle,
    .mapTitle {
        font-size: 16px;
    }
}


.blogBox {
    padding: 30px;
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
}


.blogsCon {
    flex: 1;
    margin: 0 auto;
}



.rightMapCon {
    flex: 1;
    box-sizing: border-box;
    justify-content: flex-start;
    padding-right: 8px;
    width: auto;
}