/* Laptop */
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      overflow-x: hidden;
    }
   
    .divContainer {
      display: flex;
      justify-content: space-between;
      color: #ffffff;
      width: auto;
      height: 470px;
    }
   
    .container {
      display: flex;
      flex-wrap: nowrap;
      width: 750px;
      height: 450px;
      overflow-x: hidden;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      gap: 10px;
    }
   
    .mainCard {
      width: 270px;
      height: 425px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 10px;
      background-color: #EEEDEB;
    }
   
    .titleb {
      color: aqua;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-left: 50px;
      margin-top: -30px;
    }
   
    .mainTitle {
      padding: 10px;
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      color: rgb(8, 7, 7);
    }
   
    .mainTitle:hover {
      padding: 10px;
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      color: rgb(20, 7, 200);
    }
   
    .mainPara {
      padding: 6px;
      text-align: center;
      font-size: 11px;
      color: rgb(8, 7, 7);
    }
   
    .card {
      width: 220px;
      height: 200px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 10px;
      background-color: white;
      flex-shrink: 0;
      transition: all 0.3s ease;
      filter: brightness(0.7);
    }
   
    .active {
      filter: brightness(1);
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(0, 0, 255, 0.5);
    }
   
    .imgConMain {
      width: 100%;
      height: 110px;
      object-fit: cover;
    }
   
    .imgCon {
      width: 100%;
      height: 110px;
      object-fit: cover;
    }
   
    .title {
      padding: 10px;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      color: rgb(8, 7, 7);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
      height: calc(1.7em * 2);
    }
   
    .title:hover {
      -webkit-line-clamp: unset;
      -webkit-box-orient: unset;
      height: auto;
      padding: 10px;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      color: rgb(20, 7, 200);
    }
   
    .para {
      padding: 10px;
      text-align: center;
      font-size: 9px;
      color: rgb(8, 7, 7);
    }
   
    .moreDiv {
      width: 280px;
      padding: 1px;
      text-align: center;
      bottom: 0;
      border-radius: 10px;
    }
   
    .more {
      padding-left: 50px;
      font-family: sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 11px;
      border: black;
      color: rgb(201, 126, 72);
    }
   
    .more:before {
      content: ' \22D9';
      padding-left: 50px;
      font-family: sans-serif;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      border-color: black;
      color: rgb(201, 126, 72);
    }
   
    .more:hover:before {
      content: ' \22D9';
      padding-left: 50px;
      font-family: sans-serif;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      border-color: black;
      color: rgb(28, 25, 191);
    }
   
    .more:hover {
      padding-left: 50px;
      font-family: sans-serif;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      border-color: black;
      color: rgb(28, 25, 191);
    }
   
    .card:hover .a {
      display: block;
    }
   
    .dots {
      width: 120%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-top: 10px; */
      margin: auto;

    }
   
    .dot {
      width: 10px;
      height: 10px;
      background: grey;
      border-radius: 50%;
      margin: 0 5px;

      cursor: pointer;
      transition: background 0.3s ease;
    
    }
   
    .activeDot {
      background: blue;
    }
  
   