/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        overflow-x: hidden;
    }

    .parentContainer {
        display: flex;
        justify-content: center;
        color: #ffffff;
        /* background-color: transparent; */
        width: auto;
        height: 570px;
        /* align-content: center; */

        padding-left: 10px;
    }

    .indexContainer {
        width: 250px;
        height: 400px;
        /* background-color: red; */
        margin-left: 200px;
        margin-top: 50px;
        border-radius: 10px;
    }

    .displayContainer {
        width: 1000px;
        height: 390px;
        /* background-color: rgb(118, 141, 194); */
        margin-right: 100px;
        margin-left: 5px;
        /* margin-top: 10px; */
        border-radius: 10px;
        margin-bottom: 30px;

    }

    .buttonContainer {
        width: 150px;
        height: 450px;
        /* background-color: rgb(179, 23, 155); */
        padding-right: 80px;
        margin-top: 50px;
        border-radius: 10px;
        padding-right: 0px;
        /* margin-right: 60px; */
        margin-left: -70px;
        margin-top: 10px;
        /* border-radius: 10px; */
        margin-bottom: 30px;

    }

    .button {

        margin-top: 390px;
        align-items: center;
        justify-content: center;
        font-style: Arial,
            Helvetica,
            sans-serif;
        width: 120px;
        height: 40px;
        border: 0px;
        border-radius: 8px;
        color: aliceblue;
        background: linear-gradient(#fef65b,
                #7f7b6e);
        box-shadow: 20px;
    }

    .title {
        display: inline;
        color: #1e73be;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 50px;
        margin-top: 10px;

    }

}