body {
    background-color: rgb(255, 253, 252);
}

.mainDiv {
    padding-bottom: 30px;
    margin: 20px 0 0 0;
}

.innerContainer {
    width: 92%;
    margin: auto;
    box-shadow: 3px 2px 5px #cdcdcd;
    border: 0.5px solid #cdcdcd;
    padding: 20px;
    height: auto;
}

.doContainer {
    width: 70%;
    height: 100%;
    margin: auto;
}

.hTitle {
    color: #1c3681;
    text-align: center;
    padding: 10px 0;
    font-size: clamp(24px, 1.5vw, 48px);
    line-height: 1.4;
    font-weight: bold;
    
}

.textSpan {
    width: 100%;
    font-size: clamp(14px, 0.9vw, 22px);
    text-align: center;
    line-height: 1.6;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-bottom: 22px;
}

.container {
    width: 20%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.title,
.content p {
    text-align: center;
    font-size: clamp(14px, 0.9vw, 18px);
    line-height: 1.6;
}

.title h5 {
    color: #d9b99b;
    font-weight: 700;
    font-size: clamp(16px, 0.9vw, 18px);
}

.container:hover {
    background-color: #eeeeee;
    transform: translateY(-5px) scale(1.05);
    cursor: default;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container:hover .content p {
    color: #000000;
    font-weight: 500;
}

.imgContainer {
    margin: 10px;
}

.imgContainer img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    transition: transform 0.3s;
}

.container:hover .imgContainer img {
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .mainDiv {
        width: 90%;
        margin:  20px auto;
    }
    .innerContainer {
        width: auto;
    }
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        width: 80%;
    }
    .textSpan {
        font-size: 16px; /* Increased for mobile readability */
    }
    .content p {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1939px) {
    .container {
        width: 25%;
    }
    .imgContainer img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1940px) {
    .textSpan {
        font-size: 20px;
    }
    .content p,
    .title h5 {
        font-size: 16px;
    }
    .hTitle {
        
        font-size: 40px;
    }
}

@media (min-width: 2560px) {
    .textSpan {
        font-size: 25px;
    }
    .content p,
    .title h5 {
        font-size: 22px;
    }
    .hTitle {
        font-size: 48px;
    }
}